<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <%- include('../admin/man1.ejs') %>
    <main>
        
        <div class="card">
            
            <div class="allusers">


                <div> <h2>Admin </h2></div>
                <div> <h2>Staff </h2></div>
                <div> <h2> Trainee </h2></div>
                <div> <h2> Managers </h2></div>
                <div> <h2>Total </h2></div>
        
                <div> <h2> <%= adminCounter %> </h2></div>
                <div> <h2> <%= staffCounter %>  </h2></div>
                <div> <h2> <%= traineeCounter %>  </h2></div>
                <div> <h2> <%= managerCounter %>   </h2></div>
                <div> <h2> <%= user.length %> </h2></div>
            </div>
            
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
            <div class="card-block table-border-style">
                
                        <div class="table-responsive">
                            <% if (user.length > 0) { %>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <ul id="myUL">
                                    <li>
                                <tbody>
                                    <% for (var people = 0; people < user.length; people++) { %>
                                        <tr>
                
                                            <td><%= user[people]._id %></td>
                                            <td><%= user[people].username %></td>
                                            <td><%= user[people].role %> </td>
                                            <td><%= user[people].email %></td>
                                            <% if(user[people].disabled === true) { %> 
                                                <!-- <td><a href="/edit-user/<%= user[people]._id %>?edit=true" class="btn">Approve</a></td> -->
                                            <td><form action="/edit-user/<%= user[people]._id %>" method="GET">
                                                <input type="hidden" value="<%= user[people]._id %>" name="userId">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button>Approve</button></form></td>
                                            <td><form action="/deluser/<%= user[people]._id %>" method="GET"> <button id="<%= user[people]._id %>" type="submit" class="remove">Remove</button></form></td>
                                            <!-- <td><a href="/deluser/<%= user[people]._id %>">Remove1</a></td> -->
                                            
                                            <% } else { %>
                                                <td><p>Approved</p></td>
                                                <td><form action="/deluser/<%= user[people]._id %>" method="GET"> 
                                                    <button id="<%= user[people]._id %>" type="submit" class="remove">Remove</button>
                                                </form></td>
                                                <% } %>
                                        </tr>
                                        <% } %>  
                                        
                                        
        
        
                                </tbody>
                            </table>
                            <% } %> 
                            
                        </div>
                    </li>
                </ul>
                
            </div>
            
        </div>
        
    </div>
    </main>
    <footer class="footer">
        All rights reserved.
    </footer>
    <script src="/js/main.js"></script>
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById('myInput');
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByTagName('li');
        
          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
        </script>
    </body>
    
</html>