<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/manager.css">
</head>

<body>
    <%- include('../admin/man1.ejs') %>
    <main>
        <div class="dash">
            <div class="items">
                <h1>Users</h1>
                <a href="/crew"><i class="fa fa-users"></i><%= user.length %></a>
            </div>
            <div class="items">
                <h1>Orders</h1>
                <a href="/chart"><i class="fa fa-truck"></i><%= order.length %></a>
            </div>
            <div class="items">
                <h1>Meals</h1>
                <a href="/meals"><i class="fa fa-cutlery"></i><%= product.length %></a>
            </div>
            <div class="items">
                <h1>Coupons</h1>
                <a href="/coupon"><i class="fa fa-ticket"></i><%= coupon.length %></a>
            </div>
        </div>
        
    </main>
    <footer class="footer1">
        All rights reserved.
    </footer>
    <script src="/js/main.js"></script>
    </body>
    
</html>