<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('./man.ejs') %>

        <main>
            <div class="manprod">
                <% if (prods.length > 0) { %>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                
                                <th>Price</th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let product of prods) { %>
                                <tr>
                                    <td><%= product.title %></td>
                                    
                                    <td>GHC <%= product.price %></td>
                                    <td><%= product.description %></td>
                                    <td> <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a></td>
                                    <td>
                                        <form action="/admin/delete-product" method="POST">
                                            <input type="hidden" value="<%= product._id %>" name="productId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                        
                    </table>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
                    
                    <button id="kc_fab_main_btn">+</button>
                    
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>Add Product</h2>
                            </div>
                            <div class="modal-body">
                                <%- include('./add-form.ejs') %>
                            </div>
                        </div>
                    </div>
            </div>
            
        </main>
            <footer class="footer1">
                All rights reserved.
            </footer>
            <script src="/js/main.js"></script>
            </body>
            
        </html>