<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../admin/man.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Meal</th>
                            <th>Quantity</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order.user.username %></td>
                                <td><%= order.date %></td>
                                <td># <%= order._id %></td>
                                <% order.products.forEach(p => { %>
                                <td><%= p.product.title %></td>
                                <td><%= p.quantity %></td>
                                <% if(order.delivered === false) { %>
                                <td>
                                    <form action="/deliver/<%= order._id %>">
                                        <input type="hidden" value="<%= p.product._id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="#">Complete Order</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/delorders/<%= order._id %>" method="GET">
                                        <input type="hidden" value="<%= p.product._id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete Order</button>
                                    </form>
                                </td>
                                <% } else { %>
                                    <td><p>Delivered</p></td>
                                       
                                        <% } %>
                                <% }) %>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } %>
                    
                       
        </main>
        <footer class="footer1">
            All rights reserved.
        </footer>
        <script src="/js/main.js"></script>
        </body>
        
    </html>