<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <a href="/products/<%= product._id %>" class="img_link"><img src="<%= product.imageUrl %>" alt="<%= product.title %>"></a>
            </div>
            <h2>GH₵<%= product.price %></h2>
            <p><%= product.description %></p>
            <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
            <% } %>
        </main>
        <footer class="footer1">
            All rights reserved.
        </footer>
        <script src="/js/main.js"></script>
        </body>
        
    </html>