<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- <div class="backdrop"></div>
<header class="main-header">
<button id="side-menu-toggle">Menu</button>
<nav class="main-header__nav">
    <ul class="main-header__item-list">
        <li class="main-header__item">
            <a class="" href="/">Amalitech Eats</a>
        </li>
        <li class="main-header__item">
            <a class="active" href="/products">Products</a>
        </li>
        
    </ul>
    <ul class="main-header__item-list">
        
            <li class="main-header__item">
                <a class="" href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/signup">Signup</a>
            </li>
        
    </ul>
</nav>
</header>

<nav class="mobile-nav">
<ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
        <a class="" href="/">Amalitech Eats</a>
    </li>
    <li class="mobile-nav__item">
        <a class="active" href="/products">Products</a>
    </li>
    
    
        <li class="mobile-nav__item">
            <a class="" href="/login">Login</a>
        </li>
        <li class="mobile-nav__item">
            <a class="" href="/signup">Signup</a>
        </li>
    
</ul>
</nav> -->

<main>
    <div class="grid">
           
    <% if (prods.length > 0) { %>
        <% for (var product = 0; product < prods.length; product++) { %>
            <% var d = new Date(); %> 
            <% var days = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]; %>
            <% var day = days[d.getDay()]; %>
            <% if (prods[product].day === day) { %> 
            <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title"><%= prods[product].title %></h1>
            </header>
            <div class="card__image">
                <a href="/products/<%= prods[product]._id %>" class="img_link"><img src="<%= prods[product].imageUrl %>" alt="<%= product.title %>"></a>
            </div>
            <div class="card__content">
                <h2 class="product__price">GH₵
                    <%= prods[product].price %>
                </h2>
                <p class="product__description">
                    <%= prods[product].description %>
                </p>
            </div>
            <div class="card__actions">
                <a href="/products/<%= prods[product]._id %>" class="btn">Details</a>
                
                    <form action="/cart" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= prods[product]._id %>">
                </form>
                                    
            </div>
        </article>
        <% } %> 
        <% } %> 
        <% } %>
            
    </div>
           
    
    
</main>
<footer class="footer1">
    <div class="">© 2020 Copyright:
        <a class="" href="/"> AmaliEats</a>
    </div>
    <hr>
    <div>
        <i style="font-size:24px" class="fa"></i>
        <i style="font-size:24px" class="fa"></i>
        <i style="font-size:24px" class="fa"></i>          
        <i style="font-size:24px" class="fa"></i>
        <i style="font-size:24px" class="fa"></i>
    </div>
    
</footer>
<script src="/js/main.js"></script>


</body></html>